* {
    font-family: 'Montserrat', sans-serif;
    padding: 0 ;
    margin: 0;
}

.wrapper {
    width: 1280px;
    height: 1626px;
    position: relative;
}


.menu {
    width: 100%;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
}

[class^="item"] {
    list-style-type: none;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    height: 27px;
    text-transform: uppercase;
    font-style: normal;
}

a {
    text-decoration: none;
    color: red;

}

.item1 {
    width: 68px;
}

.item2 {
    width: 131px;
    margin-left: 72px;
}

.item3 {
    width: 87px;
    margin-left: 72px;
}

.item4 {
    width: 140px;
    margin-left: 50px;
}

.image-center {
    display: block;
    margin: auto;
}

.content {
    width: 1280px;
    height: 650px;
    display: block;
    margin: auto;
}


.img {
    width: 100%;
    height: 789px;
}

.wrapper2 {
    width: 1280px;
    height: 650px;
    display: block;
    margin: auto;
    position: relative;
}

.title {
    width: 774px;
    height: 29px;
    margin: auto;
    margin-top: 48px;
    text-align: center;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #373737;

}

[class^="text"] {
    margin: auto;
    width: 1145px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px
    
}

.text1 {
    height: 132px;
    color: #373737;
    padding-top: 38px;
}

 .text2 {
    height: 216px;
    color: #373737;
    padding-top: 28px;
}

.btn {
    width: 191px;
    height: 51px;
    display: block;
    background-color: red;
    position: absolute;
    right: 544.5px;
    bottom: 42px;
    border-radius: 4px;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: white;
    border: 0 ;
    
}
    

.footer {
    position: absolute;
    right: 105px;
    bottom: 29px;
    font-weight: 700;
    font-size: 16px;
    color: #373737;
    letter-spacing: 2.4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
 